#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(https://wx2.sinaimg.cn/mw2000/006FumBtly1h5utoia4woj316l0tyhdt.jpg);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}
